<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/o2o/resources/css/shop/shopListQuery.css">
</head>
<body>
<div class="page-group" ng-app="shopApp" ng-controller="shopListQueryCtrl">
    <div class="page">
        <header class="bar bar-nav">
            <h1 class="title">校园商铺</h1>
        </header>

        <!--底部Tab-->
        <nav class="bar bar-tab">
            <a class="tab-item active" href="#"> <span
                    class="icon icon-home"></span> <span class="tab-label">首页</span>
            </a>
            <a class="tab-item" href="#" id='me'> <span class="icon icon-me"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>

        <div class="content">
            <!--搜索栏-->
            <div class="searchbar row">
                <div class="search-input col-80">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id='search' ng-model="shopCondition.key" placeholder='输入关键字...'/>
                </div>
                <a class="button button-fill button-primary col-20" ng-click="search()">搜索</a>
            </div>

            <div class="col-33 {{allItemClass}}" ng-click="searchByShopCat()">全部分类</div>
            <!--店铺所有分类-->
            <div class="row cats" ng-repeat="shopCat in shopCatList">
                <div class="col-33 {{shopCat[0].itemClass}}" ng-click="searchByShopCat(shopCat[0].shopCategoryId)">{{shopCat[0].shopCategoryName}}</div>
                <div class="col-33 {{shopCat[1].itemClass}}" ng-click="searchByShopCat(shopCat[1].shopCategoryId)">{{shopCat[1].shopCategoryName}}</div>
                <div class="col-33 {{shopCat[2].itemClass}}" ng-click="searchByShopCat(shopCat[2].shopCategoryId)">{{shopCat[2].shopCategoryName}}</div>
            </div>

            <div class="areaSelDiv">
                <label>区域选择：</label>
                <select class="areaSel" ng-model="shopCondition.areaId">
                    <option value="">所有区域</option>
                    <option value="3">东苑</option>
                    <option value="4">南苑</option>
                    <option value="5">西苑</option>
                    <option value="6">北苑</option>
                </select>
            </div>

            <div class="list-block media-list">
                <ul ng-repeat="shop in shopList">
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <img src="{{shop.shopImg}}" style='width: 2.2rem;'></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title shopItemName">{{shop.shopName}}</div>
                                </div>
                                <div class="item-subtitle shopItemDesc">{{shop.shopDesc}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--angularjs-->
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

<script type='text/javascript'
        src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/o2o/resources/js/shop/shopListQuery.js'
        charset='utf-8'></script>

<!--$.init()重要-->
<script>$.init()</script>
</body>
</html>
